body{
    max-height:100vh;
    display: flex;
    flex-direction: column;
}

.head{
    height:20vh;
    border: 2px solid red;
}
.card{
    border: 2px solid red;
    
}
.content{
    display: flex;
    flex-direction: row;
}
.books{
    display: flex;
    flex-wrap: wrap;
}
.sidebar{
    display: flex;
    flex-direction: column;
}
.filter{
    display: flex;
    flex-direction: column;
}
.foot{
    height: 20vh;
    border: 2px solid red;
}